<div id = "status">
	<h1> Fan Speed Attack Detection Model (FSAD)</h1>
	<span> By: Haijun Si </span><br>
	
	<h1> Fan Speed Status: </h1>
	<button class = "button" id = "fan_status" ">Status</button> 
	<div id = "fan_speed_change_key"> 
		<br>
		<div class = "FSAD_legend">Fan Speed Legend</div>
		<dl>
			<dt>[green]</dt>
			<dd> - Good Print </dd>
			<br>
			<dt>[orange]</dt>
			<dd> - Fan Speed Changed (Good Quality Change)</dd>
			<br>
			<dt>[red]</dt>
			<dd> - Fan Speed Not Changed (Bad Quality Attack) </dd>
			<br>		
		</dl>
	</div>
</div>
<div class="FSAD_flex-container">
	<div class = FSAD_flex-child>
		<h1> Current Settings</h1>
		<span id = "FSAD_stat"> Fan Speed: <strong data-bind="text: fanSpeed()"></strong> %</span><br><br><br><br>
		<div class = "FSAD_header"> Prediction: </div><br>
		<span id = "FSAD_stat"> Top/Bottom Surface Roughness: </span> <br>
		<span id = "FSAD_stat"><strong data-bind="text: topSR()"></strong> um</span><br><br>
		<span id = "FSAD_stat"> Side Surface Roughness: </span> <br>
		<span id = "FSAD_stat"><strong data-bind="text: sideSR()"></strong> um</span><br>
	</div>
	<div class = FSAD_flex-child>
		<h1> Initial Printing Settings </h1>
		<span id = "FSAD_stat"> Infill Density: <strong data-bind="text: infill()"></strong> mm</span> <br>
		<span id = "FSAD_stat"> Layer Height: <strong data-bind="text: layer()"></strong> mm</span> <br>
		<span id = "FSAD_stat"> Fan Speed: <strong data-bind="text: initial_fan_speed()"></strong> %</span> <br><br>
		<div class = "FSAD_header" > Prediction: </div><br>	
		<span id = "FSAD_stat"> Top/Bottom Surface Roughness: </span> <br>
		<span id = "FSAD_stat"><strong data-bind="text: initial_topSR()"></strong> um</span> <br><br>
		<span id = "FSAD_stat"> Side Surface Roughness: </span> <br>
		<span id = "FSAD_stat"><strong data-bind="text: initial_sideSR()"></strong> um</span> <br><br>
		<span id = "FSAD_stat"> Bad Initial Print: <strong data-bind="text: initial_bad_print()"></strong> </span> <br>
	</div>
</div>
<div id = "status">
	
	<h1> First Attack Stats (if any): </h1>
	<span> Fan Speed was changed/stayed at: <strong data-bind="text: first_attack_fan_speed()"></strong> </span><br>
</div>